{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Vacancy adding
{% endblock %}

{% block content %}
<div class="header-left">
    <form method="POST" action={% url 'vacancy_list' %}>{% csrf_token %}
        <h2>Vacancy deleting</h2><hr>

        <div class="header">
            <h5>Are you sure you want to delete this vacancy?</h5>
        </div><br>
        
        <div class="center">
            <input type="hidden" name="delete" value="{{ vacancy_id }}">
            <button class="button button-green" type="button" onclick="history.go(-1)">Cancel</button>
            <button class="button button-red" type="submit">Yes</button>
        </div>
    </form>
</div>
{% endblock %}