{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Work experience
{% endblock %}

{% block content %}
    <div class="header-left">
        <form action="{% url 'edit_experience' %}" method="POST">{% csrf_token %}
            <h2>Work experience
                &ensp;
                <span>
                    <a href="{% url 'add_experience' %}">
                        <img class="action-owner" src="{{ BADGES_URL }}add.png" alt="Добавить">
                        <!-- <input type="button" class="button button-green" value="Add"> -->
                    </a>
                </span>
            </h2><hr>

            {{ forms.management_form }}
            {% for form in forms%}
                {{ form.id }} 
                <div class="form-row">
                    <div class="required form-row-field-2">
                        {{ form.begin|as_crispy_field }}
                    </div>
                    <div class="form-row-field-2">
                        {{ form.end|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-row-field-checkbox-bool">
                        {{ form.now|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-row-field-2">
                        {{ form.company|as_crispy_field }}
                    </div>
                    <div class="form-row-field-2">
                        {{ form.company_site|as_crispy_field }}
                    </div>
                </div>
                
                <div class="form-row">
                    <p class="checkbox-label">{{ form.company_spheres.label }}<span class=asteriskField>*</span></p>
                    <div class="form-row-field-checkbox-2">
                        {{ form.company_spheres }}
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-row-field-2">
                        {{ form.position|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-row-field-area">
                        {{ form.responsibilities|as_crispy_field }}
                    </div>
                </div>

                <br><br><hr> 
            {% endfor %}
<!-- 
            <div class="center">
                <a href="{% url 'add_experience' %}"><button type="button" class="button button-other">Add</button></a>
            </div><br> -->

            <div class="center">
                <button class="button button-red" type="button" onclick="history.go(-1)">Cancel</button>
                <button class="button button-green" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}