body {
    /* background: url(../images/bg.jpeg) no-repeat center center fixed; */
    background-size: cover;
    background: rgb(236, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    display: flex;
    float: left;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 26.5%;
}

main {
    float: left;
    width: 100%;
    max-width: 58.7%;
    font-size: 14px;
}

nav {
    font-size: 15px;
}

aside ul {
    display: block;
    /* padding-top: 130px; */
    /* padding-top: 23%; */
    list-style: none;

}

aside li {
    color: black;
    display: block;
    /* margin-top: 10px; */
    /* margin-left: 120px; */
    list-style: none;
}

main ul, li {
    list-style: none;
}

aside li:hover {
    background: rgb(228, 225, 225);
    border-radius: 8px;
    text-decoration: none;
}

aside a:hover {
    text-decoration: none;
}

nav i {
    margin-right: 5px;
    color: #0099ff;
    font-size: 15px;
}

hr {
    background-color: red;
    margin-top: 0px;
    opacity: .5;
}

main h1, h2, h3, h4 {
    text-align: center;
}

h4 {
    margin-top: 30px;
}

p { 
    margin-bottom: 5px;
}

pre {
    width: auto;
    font-style: oblique;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {
    main{
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    main{
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    main{
        max-width: none;
    }
} 

.head {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0px;
    color: #000;
    max-width: 100%;
    max-height: 70px;
    font-size: 16px;
    z-index: 1;
}

.nav_left {
    display: flex;
    width: 100%;
    height: 100%; 
    max-width: 100%;
    max-height: 70px;
    padding: 0 0 0 180px;
    justify-content: left;
}

.nav_right {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 70px;
    justify-content: right;
    padding: 0 14.8%;
}

.nav_aside {
    display: inline-block;
    padding: 100px 0 0 150px;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    background: rgb(228, 225, 225);
    border-radius: 8px;
}   

.vacancy-link {
    border-bottom: 1px dashed #0099ff;
}

.vacancy {
    padding-left: 40px;
    text-align: justify;
}

.vacancy-link:hover {
    text-decoration: none;
    border-bottom: 1px dashed red;
    color:red;
}

.checkbox-label {
    padding: 20px 0 0 75px; 
    padding-bottom: 10px;
}

.forgot-password {
    margin-bottom: 20px;
}

.action-link {
    font-size: 14px;
    color:red;
}

.action-link:hover{
    color:#0099ff;
}

.f1 {
    text-indent: 40px;
    text-align: justify;
}

.hr-grey {
    background-color: #7a7a7a;
    opacity: .2;
}

.center {
    text-align: center;
}

.header {
    margin-top: 50px; 
    text-align: center;
}

.header-left {
    margin-top: 50px;
    text-align: left; 
}

.content {
    display: block;
}

/* .text-indent-left {
    display: block;
    padding-left: 10px;
    text-align: justify;
} */

.oneline {
    display: flex;
    /* width: 100%; */
}

.property {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    color:rgb(148, 146, 146);
    text-align: justify;
    width: 20%;
} 

.value {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    text-align: justify;
    width: 80%;
} 

.value-without-property{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 20px;
    text-align: justify;
}

.avatar-applicant {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.avatar-applicant img {
    max-width: 130px;
    max-height: 173.33px;
    width: 130px;
    height: 173.33px;
    border-radius: 3px;
}

.avatar-company {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.avatar-company img {
    width: 100%;
    height: 100%;
    max-width: 775px;
    min-height: 387.5px;
}

/* MESSAGES */

.messages {
    list-style: none;
    float: left;
}

.error {
    color: rgb(255, 0, 0)
}

.success {
    color:rgb(0, 255, 0)
}

/* FORMS */

.form-row {
    display: block;
    padding: 0 0 10px;    
}

.form-row-field-checkbox-now {
    padding: 15px 0 0 75px;
}

.form-row-field-checkbox {
    display: inline-block;
    padding-left: 75px;   
    /* padding-right: 60px; */
    width: 100%;
    column-count: 1;
}

.form-row-field-checkbox-2 {
    display: inline-block;
    padding: 0 35px 0px;   
    width: 100%;
    column-count: 2;
}

.form-row-field-checkbox-3 {
    display: inline-block;
    /* padding-left: 60px;   
    padding-right: 60px; */
    width: 100%;
    column-count: 3;
}

.form-row-field-3 {
    display: inline-block;
    padding-left: 65px;
}

.form-row-field-2 {
    display: inline-block;
    padding: 0 0 0 75px;
}

.form-row-field-2 input {
    width: 285px;
}

.form-row-field-1 {
    display: inline-block;	
}

.form-row-field-1 input {
    width: 240px;
}  

.form-row-field-area textarea{ 
    width: 800px;
    height: 200px;
    border-radius: 8px;
    border: #fff;
} 

.asteriskField {
    color: red;
}

.hint {
    color: rgb(255, 0, 0);
    font-size: 13px;
    font-style: italic;
    padding-left: 175px;
    text-align: left;
}

/* BUTTONS */
.button {
    width: 85px;
    height: 35px;
    border-radius: 8px;
    color: white;
}

.button-black {
    color:black;
}

.button-edit {
    background: #0099ff; 
    border-radius: 15px;
    height: 30px;
    width: 60px;    
}

.button-edit:hover{
    background:#3cadf8 
}

.button-other {
    background: #0099ff; 
    border: 2px solid #0099ff;
    height: 35px;
    width: 150px;
}

.button-other:hover{
    background:#3cadf8 
}

.button-green {
    background:#4CAF50;
    border: 2px solid #4CAF50; 
}

.button-green:hover {
    background:#67c76a;
}

.button-red {
    /* background:#f44336; */
    background: rgb(236, 236, 236);
    color:black;
    border: 2px solid rgb(172, 171, 171);
}

.button-red:hover {
    background:#f36c62;
    /* background: rgb(172, 171, 171)*/
}