body {
    background: rgb(236, 236, 236);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  */
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 50px;
    max-width: 100%;
    max-height: 50px;
    position: sticky;
    top: 0px;
    color: #000;
    font-size: 16px;
    z-index: 1;
    box-shadow: 0 0 1px rgba(161, 161, 161, 0.5);
}

.main {
    display: flex;
    margin: 15px auto;
}

.aside-left-container {
    /* position: sticky; */
    /* top: 36px; */
    /* float: right; */
    width: 100%;
    max-width: 23%;
    max-width: 180px;
    margin: 0 0 0 105px;
}

.aside-left {
    width: 100%;
    max-width: 220px;
    float: right;
}


.aside-right-container {
    position: sticky;
    top: 50px;
    /* float: right; */
    width: 100%;
    /* max-width: 17.8%; */
    max-width: 220px;
    height: 100%;
    font-size: 11px;
    /* margin-left: 15px; */
    /* padding: 15px 0px 67px 15px; */
    word-wrap: break-word;
    text-align: left;
}

.aside-right-container ul li{
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

main {
    width: 100%;
    max-width: 53.7%;
    /* max-width: 58.7%; */
    font-size: 13px;
    margin: 0 15px
    /* padding: 0 20px; */
}

footer {
    padding: 20px 23% 20px 23%;
    float: left;
    width: 100%;
    height: 100%;
    /* color: white; */
    font-size: 16px;
    z-index: 1;
}

nav {
    font-size: 13.5px;
}

nav i {
    margin-right: 10px;
    color: #3294d4;
    font-size: 16px;
    /* color: #ffffff; */
}

.nav-left {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: left;
    padding-left: 14.1%;
}

.nav-right {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding-right: 19%;
}

.nav-aside-left {
    width: 100%;
}

.nav-aside-left a {
    padding: 5px 0;
}

.nav-link {
    color: #000;    
}

.nav-link:hover {
    background: rgb(228, 225, 225);
    border-radius: 8px;
}

hr {
    background-color: red;
    margin: 5px 0 20px 0;
    opacity: .4;
    border-radius: 5px;
    height: 0px;
}

h2, h3 {
    font-size: 15.5px;
}

h2 {
    margin: 30px 0 0 0;
}

h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;

}

p { 
    margin-bottom: 5px;
    word-wrap: break-word;
    text-align: justify;
}

pre {
    width: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: justify;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {
    main{
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    main{
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    main{
        max-width: none;
    }
} 

main i {
    color:#bebebe;
}

main i:hover {
    transition: 0.75s;
}

.i-edit:hover {
    color:black;
}

.i-delete:hover {
    color:red;
}

#logo-main {
    filter: invert(50%) sepia(53%) saturate(5923%) hue-rotate(185deg) brightness(106%) contrast(106%);
    width: 30px;
    height: 30px;
}

.vertical-border {
    border-left: 3px solid rgb(167, 161, 161);
    border-radius: 5px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    color:red;
}

.search-link {
    color: black;
    text-decoration: none;
}

.search-link:hover {
    color: black;
    text-decoration: none;
}

.vacancy-link {
    border-bottom: 1px dashed #0099ff;
}

.vacancy-link:hover {
    text-decoration: none;
    border-bottom: 1px dashed red;
    color:red;
}

.vacancy {
    padding-left: 40px;
    text-align: justify;
}

.vacancy-filter ul {
    padding-left: 15px;
    margin: 5px 0px;
}

.vacancy-filter li {
    vertical-align: -3px;
}

.no-indent {
    margin: 0px;
    padding: 0px;
}

.vacancy-desc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.vacancy-desc-indent {
    padding: 0 10px;
}

.search {
    text-align: left;
    padding: 15px;
    margin: 10px 0;
    max-width: 100%;
    width: 100%;
    border: 1px solid rgb(248, 248, 248);
    background-color: white;    
    box-shadow: 0 0 3px rgba(150,150,150,0.5);
}

#search {
    width: 100%;
    max-width: 620px;
    /* background-image: url(../badges/add.png) no-repeat; */
    /* padding-left:30px; */
}

.employer-search {
    padding: 5px 20px;
}

.label {
    padding: 10px 40px; 
}

.forgot-password {
    margin-bottom: 20px;
}

.indent-first-line {
    text-indent: 40px;
    text-align: justify;
}

.hr-grey {
    background-color: rgb(167, 161, 161);
    height: 5px;
}

.hr-left {
    max-width: 27%;
}

.hr-thin {
    background-color: rgb(167, 161, 161);
    height: 0px;
}

.center {
    text-align: center;
    width: 100%;
}

.header {
    /* margin-top: 15px;  */
    text-align: center;  
    width: 100%;
    max-width: 100%;
}

/* .half {
    text-align: center;  
    width: 100%;
    max-width: 537px;
} */

.header-left {
    margin-top: 30px;
    text-align: left; 
}

.small-text {
    font-size: 12px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.property {
    vertical-align: top;
    text-align: justify;
    color:rgb(150, 150, 150);
    width: 35%;
    max-width: 35%;
} 

.value {
    /* display: inline-block; */
    vertical-align: top;
    text-align: justify;
    width: 75%;
    max-width: 75%;
} 

.value-without-property {
    text-align: justify;
}

.content {
    margin: 0 15px 15px 0;
    background: #fff;
    border-radius: 7px;
    /* border: 10px solid #fff; */
    padding: 15px;
}

.profile-info {
    width: 100%;
    height: 100%;
    max-width: 537px;
    padding: 20px;
}

.profile-row {
    display: flex;
    justify-content: space-between;
}

.avatar-applicant {
    /* padding: 5px; */
}

.avatar-applicant img {
    width: 130px;
    height: 175px;
    border-radius: 8px;
    /* width: 154px;
    height: 205px; */
}

.avatar-container {
    display: block;
    width: 175px;
    /* width: 35%; */
}

.avatar-employer {
    text-align: center;
    /* width: 160px; */
}

.avatar-employer-desc {
    margin: 0px;
    font-size: 12px;
    text-align: left;
}

.avatar-employer img {
    width: 145px;
    height: 145px;
    margin-bottom: 10px;
}

/* MESSAGES */

/* .messages {
    list-style: none;
    float: left;
}

.error {
    color: rgb(25, 27, 194)
}

.success {
    color:rgb(0, 255, 0)
} */

/* FORMS */

.form-row {
    display: block;
    padding: 10px 0; 
}

.form-row ul li {
    list-style: none;
    padding: 5px 0;
}

.form-row-field-checkbox-1 {
    padding: 0 40px;    
    width: 100%;
    max-width: 100%;
    column-count: 1;
}

.form-row-field-checkbox-1 input {
    vertical-align: -3px;
}

.form-row-field-checkbox-2 {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    column-count: 2;
}

.form-row-field-checkbox-2 input {
    vertical-align: -3px;
}

.form-row-field-checkbox-3 {
    display: inline-block;
    width: 100%;
    column-count: 3;
}

.form-row-field-checkbox-3 input {
    vertical-align: -3px;
}

.form-row-field-checkbox-5 {
    display: inline-block;
    width: 100%;
    column-count: 5;
}

.form-row-field-2, .form-row-field-checkbox-bool {
    display: inline-block;
    padding: 0 40px;
}

.form-row-field-2 input {
    width: 280px;
}

.form-row-field-1 {
    display: inline-block;	
}

.form-row-field-1 input {
    width: 240px;
}  

.form-row-field-full {
    padding: 0 40px;
}  

.form-row-field-full input {
    width: 100%;
    max-width: 650px;
}  

/* END FORMS */

.asteriskField {
    color: red;
}

.hint {
    color: red;
    font-size: 11px;
    font-style: italic;
    padding-left: 175px;
    text-align: left;
}

/* BUTTONS */
.button {
    width: 90px;
    height: 25px;
    /* max-width: 100px;
    max-height: 25px; */
    border-radius: 15px;
    font-size: 12px;
    color: black;
}

.button-edit-logo {
    margin-top: 3px;
    width: 715px;
    height: 25px;
}

.button-avatar-applicant {
    width: 130px;
    height: 25px;
    margin-top: 15px;
}

.button-green {
    background: rgb(236, 236, 236);
    border: 2px solid #67c76a; 
}

.button-green:hover {
    background:#67c76a;
    color: #fff;
}

.button-blue {
    background: rgb(236, 236, 236);
    border: 2px solid #3cadf8;
    color:#0099ff;
}

.button-blue:hover {
    background:#3cadf8;
    color: #fff;
}

.button-red {
    background: rgb(236, 236, 236);
    border: 2px solid #f36c62;
}

.button-red:hover {
    background:#f36c62;
    color: #fff;
}

/* Pagination */
.pagination {
    width: auto;
    margin: 0 auto
}

.pagination,
.pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination__link {
    position: relative;
    left: -1px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #6163b9
}

@media only screen and (max-width: 767px) {
    .pagination__link {
        font-size: 15px
    }
}

@media only screen and (min-width: 1025px) {
    .pagination a.pagination__link:hover {
        background: rgba(102, 88, 175, .15)
    }
}

.pagination__item {
    transition: all .2s ease-in-out;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: 0 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .pagination__item {
        margin: 0 2px;
        width: 33px;
        height: 33px
    }
}

.pagination__item:first-child {
    margin-left: 0
}

.pagination__item:last-child {
    margin-right: 0
}

@media only screen and (max-width: 1023px) {
    .pagination__item:nth-child(3),
    .pagination__item:nth-child(9) {
        display: none
    }
}

@media only screen and (min-width: 1025px) {
    .pagination__item.active:hover
    .pagination__link {
        color: #fff;
        background: #6658af
    }
}

.pagination__item.active .pagination__link {
    color: rgb(255, 0, 0);
    background: #6658af
}

.pagination__item--dots .pagination__link {
    color: #bfc0f1
}

/* --/Pagination */


/* FOR HEROKU */
.action-link {
    font-size: 14px;
}

.action-profile {
    vertical-align: 4px;
}
/* END FOR HEROKU */

