{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Experience adding
{% endblock %}

{% block content %}
    <div class="header-left">
        <form action={% url 'add_experience' %} method="POST">{% csrf_token %}
            {{ form.media }}
            <h2>Work experience</h2><hr>
            {{ forms.management_form }}
            {% for form in forms%}
                {{ f.id }}

                <div class="form-row">
                    <span class="form-row-field-2">
                        {{ form.begin|as_crispy_field }}
                    </span>
                    <span class="form-row-field-2">
                        {{ form.end|as_crispy_field }}
                    </span>
                </div>

                <div class="form-row">
                    <div class="form-row-field-checkbox-now">
                        {{ form.now|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-row-field-2">
                        {{ form.company|as_crispy_field }}
                    </div>
                    <div class="form-row-field-2">
                        {{ form.company_site|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <p class="checkbox-label">{{ form.company_spheres.label }}<span class=asteriskField>*</span></p>
                    <div class="form-row-field-checkbox-2">
                        {{ form.company_spheres }}
                    </div>
                </div>
                    
                <div class="form-row">
                    <div class="form-row-field-2">
                        {{ form.position|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-row-field-area">

                    <!-- <div id="editor">
                        <script>
                            ClassicEditor
                                .create(document.querySelector('#editor'))
                                .catch(error => {
                                    console.error(error);
                                });
                        </script> -->

                        {{ form.responsibilities|as_crispy_field }}
                    </div>
                </div>
            {% endfor %}
            <hr>
            <div class="center">
                <button class="button button-red" type="button" onclick="history.go(-1)">Cancel</button>
                <button class="button button-green" type="submit">Add</button>
            <br><br><br><br><br><br><br><br><br><br>
            </div>
        </form>
    </div>
{% endblock %}