{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ vacancy.position }}
{% endblock %}

{% block content %}
    <h2 class="header">{{ vacancy.position }}
        {% if user.employer == employer %}
            <a class="action-link" href="{% url 'vacancies' user.id %}?edit=True&vac_id={{ vacancy.id }}">Edit</a>
        {% endif %}
    </h2><hr>

    <p>From {{ vacancy.salary}} $</p>
    <p><a href="{% url 'profile' company_id %}">{{ company }}</a></p><br>
    <p>Required work experience: {{ vacancy.need_exp }}</p>
    <p>{{ vacancy.employment }}, {{ vacancy.schedule }}</p><br>
    <!-- <pre>{{ body }}</pre> -->
    <div class="vacancy-body">
        {{ body|safe }}
    </div>

    <br><br><hr> 
{% endblock %}