{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Password changing
{% endblock %}

{% block aside %}
    <ul>
        <a href="/app"><li><i class="fas fa-home"></i>Home</li></a> 
        <a href=""><li><i class="fas fa-business-time"></i>Vacancies</li></a>
    </ul>
{% endblock %}

{% block content %}
    <div class="header">
        <form action={% url 'password_change' %} method="POST">
            {% csrf_token %}
            <h2>Change your password</h2><hr>
            <div class="form-row">
                <div class="form-row-field-1">
                    {{ form.old_password|as_crispy_field }}
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-row-field-1">
                    {{ form.new_password1|as_crispy_field }}
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-row-field-1">
                    {{ form.new_password2|as_crispy_field }}
                </div>
            </div>

            <div class="hint">
                <p>Your password can’t be too similar to your other personal information.</p>
                <p>Your password must contain at least 8 characters.</p>
                <p>Your password can’t be a commonly used password.</p>
                <p>Your password can’t be entirely numeric.</p>
            </div><br>
            <button class="button button-red" type="button-red" onclick="history.go(-1)">Cancel</button>
            <button class="button button-green" type="submit">Change</button>
        </form>
    </div>
{% endblock %}