body {
    background: rgb(236, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    float: left;
    width: 26.5%;
    font-size: 18px;
}

main {
    float: left;
    width: 58.7%;
    font-size: 16px;
}

aside ul {
    display: block;
    padding-top: 100px;
    list-style: none;

}

aside li {
    color: black;
    display: block;
    margin-top: 15px;
    margin-left: 150px;
    list-style: none;
}

main li {
    list-style: none;
}

main ul {
    list-style: none;
}

.topbar-ul {
    display: inline;
}

.topbar-li {
    display: inline;
    color: black;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 18px;
    float: right;
}

.topbar-li:hover {
    background: rgb(228, 225, 225);
    border-radius: 8px;
}   

aside li:hover {
    background: rgb(228, 225, 225);
    border-radius: 8px;
    text-decoration: none;
}

aside a:hover {
    text-decoration: none;
}

a:hover {
    /* color:red; */
}

.vacancy-a  {
    border-bottom: 1px dashed #0099ff;
}

.vacancy {
    padding-left: 40px;
    text-align: justify;
}

.vacancy-a:hover {
    text-decoration: none;
    border-bottom: 1px dashed red;
    color:red;
}

aside i {
    margin-right: 15px;
    /* color: red; */
    color: #0099ff;
    /* color: rgb(107, 107, 202); */
    font-size: 18px;
}

main i {
    margin-right: 5px;
    color: #0099ff;
    /* color: rgb(107, 107, 202); */
    font-size: 18px;
}

hr {
    background-color: red;
    margin-top: 0px;
    opacity: .4;
}

main h1, h2, h3, h4 {
    text-align: center;
}

h4 {
    margin-top: 30px;
}

p { 
    margin-bottom: 5px;
}

pre {
    background-color: rgba(161, 245, 196, 0.692);
    width: 800px;
    white-space: pre-wrap;
}

.checkbox-label {
    padding-left: 60px; 
    padding-bottom: 10px;
}

.forgot-password {
    margin-bottom: 20px;
}

.action-link {
    font-size: 14px;
    color:red;
}

.action-link:hover{
    color:#0099ff;
}

.f1 {
    text-indent: 40px;
    text-align: justify;
}

.hr-grey {
    background-color: #7a7a7a;
    opacity: .2;
}

.center {
    text-align: center;
}

.header {
    margin-top: 50px; 
    text-align: center;
}

.header-left {
    margin-top: 50px;
    text-align: left; 
}


.content {
    display: block;
}

.about {
    display: flex;
    width: 500px;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
}

.text-indent-left {
    display: block;
    /* vertical-align: top; */
    padding-left: 10px;
    text-align: justify;
}

.oneline {
    display: flex;
    /* width: 770px; */
    width: 100%;
}

.property {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    color:rgb(148, 146, 146);
    text-align: justify;
    width: 20%;
} 

.value {
    display: inline-block;
    vertical-align: top;
    /* padding-left: 50px; */
    padding-right: 20px;
    text-align: justify;
    width: 80%;
    /* font-style: italic; */
} 

.value-without-property{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 20px;
    text-align: justify;
    /* font-style: italic; */
}

.avatar-applicant {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.avatar-applicant img {
    max-width: 200px;
    max-height: 267px;
    /* width: 200px;
    height: 267px; */
    width: 130px;
    height: 173.33px;
    border-radius: 3px;
}

.avatar-company {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.avatar-company img {
    width: 775px;
    height: 350px;
}

/* MESSAGES */

.messages {
    list-style: none;
    float: left;
}

.error {
    color: rgb(255, 0, 0)
}

.success {
    color:rgb(0, 255, 0)
}

/* FORMS */

.form-row {
    display: block;
    /* font-style: italic; */
    /* padding-top: 10px; */
    padding-bottom: 20px;
}

.form-row-field-checkbox {
    display: inline-block;
    padding-left: 60px;   
    padding-right: 60px;
    width: 100%;
    column-count: 1;
}

.form-row-field-checkbox-2 {
    display: inline-block;
    padding-left: 60px;   
    padding-right: 60px;
    width: 100%;
    column-count: 2;
}

.form-row-field-checkbox-3 {
    display: inline-block;
    padding-left: 60px;   
    padding-right: 60px;
    width: 100%;
    column-count: 3;
}

.form-row-field-right {
    display: inline-block;
    padding-left: 390px;
}

.form-row-field-3 {
    display: inline-block;
    padding-left: 65px;
}

.form-row-field-2 {
    display: inline-block;
    padding-left: 60px;
}

.form-row-field-2 input {
    width: 285px;

}

.form-row-field-1 {
    display: inline-block;	
}

.form-row-field-1 input {
    width: 240px;
}  

.form-row-field-area {
    display: block;
    /* padding-left: 60px;	 */
}

.form-row-field-area textarea{ 
    /* resize: none; */
    /* columns: 50; */
    width: 800px;
    /* width: 750px; */
    height: 300px;
} 

.asteriskField {
    color: red;
    height: 10px;
}

.hint {
    color: rgb(255, 0, 0);
    font-size: 13px;
    font-style: italic;
    padding-left: 175px;
    text-align: left;
}

/* BUTTONS */
.button {
    width: 85px;
    height: 35px;
    border-radius: 8px;
    color: white;
}

.button-black {
    color:black;
}

.button-edit {
    /* color: white; */
    background: #0099ff; 
    /* border: 2px solid #0099ff; */
    border-radius: 15px;
    height: 30px;
    width: 60px;    
}

.button-other {
    background: #0099ff; 
    border: 2px solid #0099ff;
    height: 35px;
    width: 150px;
}

.button-other:hover{
    background:#3cadf8 
}

.button-green {
    background:#4CAF50;
    border: 2px solid #4CAF50; 
}

.button-green:hover {
    background:#67c76a;
}

.button-red {
    /* background:#f44336; */
    background: rgb(236, 236, 236);
    color:black;
    border: 2px solid rgb(172, 171, 171);
}

.button-red:hover {
    background:#f36c62;
    /* background: rgb(172, 171, 171)*/
}