{% extends "base.html" %}
{% load static %}

{% block title %}
    Forbidden
{% endblock %}

{% block content %}
    <div class="header">
        <h2>Error</h2><hr>
        <!-- <h5>We are sorry! Only employers can view this profile.</h5><br> -->
        <h5>
            Вам недоступна эта вакансия. Войдите как пользователь, у которого есть доступ на просмотр, 
            либо как работодатель, создавший эту вакансию.
        </h5>
        <button class="button button-other" type="button" onclick="history.go(-1)">OK</button>
    </div>
{% endblock %}