{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Employer
{% endblock %}

{% block content %}
    <div class="header">
        <h2>Create an employer account</h2><hr>
        <form action="{% url 'registration_employer' %}" method="POST">
            {% csrf_token %}
            <div class="form-row-field-1">
                {{ form.as_p }}
            </div>
            <div class="hint">
                <p>Your password can’t be too similar to your other personal information.</p>
                <p>Your password must contain at least 8 characters.</p>
                <p>Your password can’t be a commonly used password.</p>
                <p>Your password can’t be entirely numeric.</p>
            </div><br>
            
            <button class="button button-red" type="button" onclick="history.go(-1)">Back</button>
            <button class="button button-green" type="submit">Create</button>
        </div>
        </form>
    </div>
{% endblock %}
